body {
    background-color: rgb(54, 134, 107);
    text-align: left;
    font-size: 20px;
    margin-top: 2px;
    padding: 25px;
    width: 1000px;
    align-items: center;
    border: 10px solid black;
    height: 400px;
}